<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK268Q4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>

</html>
